<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Results</title>
</head>
<body>
    <h1>Results</h1>
    <main>
        <p>Name: <%= name %></p>
        <section>
            <ul>
                <% for (let index = 0; index < names.length; index++) { %>
                    <!--(const name of names)-->
                    <ul>
                        <%= names[index] %>
                        <!--name-->
                    </ul>
                <% } %>
            </ul>
        </section>
    </main>
</body>
</html>