<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>cats</title>
</head>
<body>
    <div id="wrapper">
        <h2>EJS Cats</h2>
        <a href="/cat1"><img src="/images/cats1.jpg"></a>
        <a href="/cat2"><img src="/images/cats2.jpg"></a>
        <a href="/cat3"><img src="/images/cats3.jpg"></a>
    </div>
</body>
</html>