#wrapper{
    margin: 0px auto;
    border: 2px solid blue;
    height: auto;
    width: 50%;
    padding: 15px;
}
.button{
    text-align: right;
}
#message{
    text-align: center;
}
#button{
    background-color: lightsalmon;
    
}