<section id="wrapper">
  <h1>Submit a restaurant</h1>
  <fieldset>
    <div *ngIf='errorMessage'> {{ errorMessage }}</div>
    <form (submit)='form.valid && onSubmit($event, form)' #form='ngForm'>
      <div>
        <label for="">Restaurant Name:</label>
        <input type="text" name='name' [(ngModel)]='restaurant.name' required #name='ngModel' minlength='3'>
        <div *ngIf='(name.touched || name.dirty) && name.errors'>
          <div *ngIf='name.errors.required'>
            Restaurants must have a name
          </div>
          <div *ngIf='name.errors.minlength'>
            Restaurant name must be at least {{ name.errors.minlength.requiredLength }} characters. {{ name.errors.minlength.actualLength
            }} characters is not enough.
          </div>
        </div>
      </div>
      <div>
        <label for="">Cuisine:</label>
        <input type="text" name='cuisine' [(ngModel)]='restaurant.cuisine' required #cuisine='ngModel' minlength='3'>
        <div *ngIf='(cuisine.touched || cuisine.dirty) && cuisine.errors'>
          <div *ngIf='cuisine.errors.required'>
            You must provide the cuisine!
          </div>
          <div *ngIf='cuisine.errors.minlength'>
            The cuisine must be at least {{ cuisine.errors.minlength.requiredLength }} characters. {{ cuisine.errors.minlength.actualLength
            }} characters is not enough.
          </div>
        </div>
      </div>
      <button *ngIf='form.valid'>
        <b>Add restaurant</b>
      </button>
    </form>
    <a routerLink="/">
      <button>
        <b>Cancel</b>
      </button>
    </a>
  </fieldset>
</section>
