<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Create new Emerald</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript"></script>
</head>
<body>
	<nav>
		<a href="/">Home</a>
		<hr>
	</nav>
	<div id="wrapper">
		<form action="/" method="POST">
			<p>Color: <input type="text" name="color"></p>
			<p>Location: <input type="text" name="location"></p>
			<input type="submit" value="Add Emerald!">
		</form>
	</div>
</body>
</html>