<section id="wrapper">
  <h1>Yelp!</h1>
  <p>
    <button>
      <b>
        <a routerLink='new'>Add a new restaurant</a>
      </b>
    </button>
  </p>
  <table>
    <thead>
      <th>Name</th>
      <th>Cuisine</th>
      <th>Available Actions</th>
    </thead>
    <tbody>
      <tr *ngFor='let restaurant of restaurants'>
        <td>{{ restaurant.name }}</td>
        <td>{{ restaurant.cuisine }}</td>
        <td (click)='onClick($event)'>
          <button (click)='selectRestaurant(restaurant)' [routerLink]='restaurant._id'>
            <b>Read Reviews</b>
          </button>
          <button (click)='updateRestaurant(restaurant)' [routerLink]="[restaurant._id,'edit']">
            <b>Update</b>
          </button>
          <button (click)='onDelete(restaurant)'>
            <b>Delete</b>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</section>
