<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cars</title>
</head>
<body>
    <h1>Cars:</h1>
    <img src="http://localhost:8000/static/images/cars1.jpg">
    <img src="http://localhost:8000/static/images/cars2.jpg">
    <img src="http://localhost:8000/static/images/cars3.jpg">
</body>
</html>