<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Survey Form</title>
</head>
<body>
    <div id="wrapper">
        <form action="/result" method="POST">
            <p>Name:  <input type="text" name="name"></p>
            <p>Dojo Location:  <input type="text" name="dojo"></p>
            <p>Favorite Language:  <input type="text" name="lang"></p>
            <p>Comment (optional):  <input type="textarea" name="comm"></p>
            <input id="button" type="submit">
        </form>
    </div>
</body>
</html>