<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Books_Authors</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript"></script>
</head>
<body>
	<nav>
		<a href="/authors">Authors</a>
		<a href="/books">Books</a>
	</nav>
	<hr>
	<div class="wrapper">

	</div>
</body>
</html>