<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Dojo Mail</h1>
  <table style="margin: 0px auto;">
    <tbody>
      <tr>
        <th>Email</th>
        <th>Importance</th>
        <th>Subject</th>
        <th>Content</th>
      </tr>
      <tr>
        <td *ngFor="let num of emailOne">{{ num }}</td>
      </tr>
      <tr>
        <td *ngFor="let num of emailTwo">{{ num }}</td>
      </tr>
      <tr>
        <td *ngFor="let num of emailThree">{{ num }}</td>
      </tr>
      <tr>
        <td *ngFor="let num of emailFour">{{ num }}</td>
      </tr>
    </tbody>
  </table>
</div>
